.card 
    border-radius: 4px
    border: 1px solid #eee
    background-color: rgb(255,255,255,0.7)
    height: 40px
    width: 800px
    margin: 12px auto
    padding: 16px 0px 16px
    display: flex
    flex: 1 1 0
    justify-content: space-around    
    transition: all 0.2s ease-in-out
    line-height: 24px
    font: 20px
    text-align: center

.card-container 
    display: flex
    flex-wrap: nowrap
    margin-top: 24px
    flex-direction: column
    text-align: center

.table
    width:100%

.sortButton
    background-color: #eee
    border-radius: 4px
    border: 1px solid #eee
    font-size: 20px
    font-style: extra-bold
    
