
<div class = "card-container">        
    <table class="table table-responsive-xl">
        <col width="40%">
        <col width="10%">
        <col width = "50%">        
        <thead>
            <tr>
                <div class="card">
                    <th scope="col">Player</th>
                    <th scope="col">Time</th>
                    <th scope="col">Number of moves</th>
                </div> 
            </tr>
        </thead>           
        <tbody>
            <tr *ngFor="let highscore of highscores">
                <div class = "card">
                    <td>{{ highscore.firstName }} {{ highscore.lastName }}</td>
                    <td>{{ highscore.time }} seconds</td>
                    <td>{{ highscore.numberOfMoves }}</td>
                </div>
            </tr>
        </tbody>
    </table>   
</div>


