
<div class = "card-container">        
    <table class="table table-responsive-xl">
        <col width="40%">
        <col width="10%">
        <col width = "50%">        
        <thead>
            <tr>
                <div class="card">
                    <th scope="col"><button class = "sortButton" (click)="sortPlayers()">Player</button></th>
                    <th scope="col"><button class = "sortButton" (click)="sortTime()">Time</button></th>
                    <th scope="col"><button class = "sortButton" (click)="sortMoves()">Number of moves</button></th>
                </div> 
            </tr>
        </thead>           
        <tbody>            
            <tr *ngFor="let highscore of highscores | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class = "card">
                    <td>{{ highscore.firstName }} {{ highscore.lastName }}</td>
                    <td>{{ highscore.time }} seconds</td>
                    <td>{{ highscore.numberOfMoves }}</td>
                </div>
            </tr>
            <pagination-controls  
                      (pageChange)="p = $event"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next">
            </pagination-controls>
        </tbody>
    </table>   
</div>


