<div class="card-container">
    <div class="card" *ngIf = "this.user">
        <span>Name: {{this.user.firstName}} {{this.user.lastName}}</span>
        <span>E-mail: {{this.user.Username}}</span>
        <span>Games played: {{this.user.gamesPlayed}}</span>
        <span>Games won: {{this.user.gamesWon}}/{{this.user.gamesPlayed}}</span>
        <span>Best time: {{this.user.bestTime}} seconds</span>
        <span>Victory by least moves: {{this.user.avgMovesNumber}}</span>
    </div>
</div>
        