.tile
  height: 100px
  width: 100px
  border: 1px solid black
  display: inline-block

.image
  height: 100px
  width: 70px

.black-back
  background-color: rgb(179, 179, 179)

.selected
  background-color: rgb(0, 0, 255)

.movable
  background-color: rgb(0, 255, 0)
